* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	list-style: none;

	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.main-wrap {
	height: 100%;
	background: url(../img/main-bg.jpg) no-repeat center fixed;
	background-size: cover;
	padding: 50px;
}

#home {
	background: rgba(0,0,0,.8);
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* --------------------------- HEADER ------------------------------- */
#header {text-align: center;}

.logo {
	color: #ababab;
    font-size: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.slogan {
	text-transform: uppercase;
	color: #ababab;
	font-size: 20px;
	margin-bottom: 50px;
}
/* --------------------------- // HEADER ------------------------------- */

/* --------------------------- NAV ------------------------------- */
#nav {
	text-align: center;
}
#nav a {
	color: #888;
	text-decoration: none;
	font-size: 18px;
}
/* --------------------------- // NAV ------------------------------- */

/* --------------------------- FOOTER ------------------------------- */
#footer {margin-top: 50px;}

.social-list li {
	display: inline-block;
}
.social-list a {
	color: #888;
	text-decoration: none;
}
/* --------------------------- // FOOTER ------------------------------- */