@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold.ttf') format('truetype'),
        url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Light.woff2') format('woff2'),
        url('../fonts/Lato-Light.woff') format('woff'),
        url('../fonts/Lato-Light.ttf') format('truetype'),
        url('../fonts/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.eot');
    src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Black.woff2') format('woff2'),
        url('../fonts/Lato-Black.woff') format('woff'),
        url('../fonts/Lato-Black.ttf') format('truetype'),
        url('../fonts/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSansCondensed-Bold.eot');
    src: url('../fonts/OpenSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSansCondensed-Bold.woff2') format('woff2'),
        url('../fonts/OpenSansCondensed-Bold.woff') format('woff'),
        url('../fonts/OpenSansCondensed-Bold.ttf') format('truetype'),
        url('../fonts/OpenSansCondensed-Bold.svg#OpenSansCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSansCondensed-Light.eot');
    src: url('../fonts/OpenSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSansCondensed-Light.woff2') format('woff2'),
        url('../fonts/OpenSansCondensed-Light.woff') format('woff'),
        url('../fonts/OpenSansCondensed-Light.ttf') format('truetype'),
        url('../fonts/OpenSansCondensed-Light.svg#OpenSansCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	list-style: none;

	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font: 16px/20px 'Open Sans Condensed', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 999;
	transition: 1s all;
	opacity: 1;
	visibility: visible;
	display: flex;
	align-items: center;
	justify-content: center;
}
.preloader.done {
	opacity: 0;
	visibility: hidden;
}

.loader {
	text-align: center;
	font-size: 50px;
	color: #fff;
	text-shadow: 0 0 30px rgba(255,255,255,.9);
}

.main-wrap {
	height: 100%;
	background: url(../img/main-bg.jpg) no-repeat center fixed;
	background-size: cover;
}

#home {
	background: rgba(0,0,0,.8);
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* --------------------------- HEADER ------------------------------- */
#header {
	text-align: center;
	margin-top: auto;
}

.logo {
	color: #dcdcdc;
    font-size: 50px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 900;    
}
.logo.active-anim {
	animation: trans-logo 5s ease;
}

.slogan {
	margin-top: 10px;
	text-transform: uppercase;
	color: #ababab;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 50px;
	letter-spacing: 2px;
}
/* --------------------------- // HEADER ------------------------------- */

/* --------------------------- NAV ------------------------------- */
#header #nav {
	text-align: center;
}
#header #nav a {
	display: block;
	padding: 5px 0;
	color: #888;
	text-decoration: none;
	font-size: 20px;
	transition: color 0.3s ease;
}
#header #nav a:hover {
	color: #fff;
}

#header-line {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	background: rgba(0,0,0,.3);
}
#header-line .logo {
	display: block;
	line-height: 30px;
	font-size: 30px;
}
#header-line .slogan {
	margin-bottom: 0;
	font-size: 10px;
	margin-top: 0;
}
#header-line .container {
	display: flex;
	justify-content: space-between;
}
#header-line #nav {
	display: flex;
	align-items: center;
}
#header-line #nav ul {
	display: flex;
}
#header-line #nav ul li + li {
	margin-left: 20px;
}
#header-line #nav ul li a {
	display: block;
	display: block;
	padding: 5px 0;
	color: #888;
	text-decoration: none;
	font-size: 20px;
	transition: color 0.3s ease;
}
#header-line #nav ul li a:hover {
	color: #fff;
}
/* --------------------------- // NAV ------------------------------- */

/* --------------------------- // CONTENT ------------------------------- */
#content {
	margin-top: 80px;
	width: 100%;
	padding: 100px 0;
	overflow: hidden;
}

.slider-portfolio ul {
	position: relative;
}
.slider-portfolio ul li {
	justify-content: space-between;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
}
.slider-portfolio ul li.active {
	display: flex;
	opacity: 1;
	position: relative;
	z-index: 2;
}

.slider-portfolio ul li > div {
	min-height: 300px;
	width: 50%;
}
.slider-portfolio .slider-content {
	width: 50%;
	padding: 0 0 10px 100px;
	color: #888;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: right;
	position: relative;
}
.slider-portfolio .slider-image {
	width: 50%;
	background-size: cover;
	background-position: center;
	position: relative;
	border: 5px solid #fff;
	display: flex;
	opacity: 0;
	
	transform: scale(1.3);
	transition: opacity 1s ease-in, transform 1s ease-in, border 0.3s linear;
}
.slider-portfolio ul li.active .slider-image {
	opacity: 1;
	transform: scale(1);
}
.slider-portfolio .slider-image a {
	height: 100%;
	width: 100%;
}
.slider-portfolio .slider-image:hover {
	border-color: #dcdcdc;
}
.slider-portfolio p {
	font-size: 18px;
	line-height: 25px;

	transition: transform 0.5s 0.5s ease-in;
	transform: translateY(350px);
}

.slider-portfolio ul li.active p {transform: translateY(0);}

.slider-portfolio h3 {
	color: #b8b6b6;
	line-height: 30px;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	margin-bottom: 15px;

	transition: transform 0.5s 0.2s ease-in;
	transform: translateY(500px);
}
.slider-portfolio ul li.active h3 {
	transform: translateY(0);
}
.slider-portfolio h3 a {
	color: #b8b6b6;
	text-decoration: none;
	transition: color 0.3s ease;
}
.slider-portfolio h3 a:hover {color: #888;}

.slider-portfolio .play {
	width: 35px;
    height: 35px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    text-indent: 3px;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    background: none;
    position: absolute;
    right: 0;
    bottom: 0;

    transition: transform 0.3s 0.9s ease-in;
	transform: translateY(200px);
}
.slider-portfolio ul li.active .play {transform: translateY(0);}
.slider-portfolio .play::after {
	content: '';
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 30px solid #fff;
	border-bottom: 15px solid transparent;
	transition: border 0.3s ease;
}
.slider-portfolio .play:hover:after {border-left-color: #888;}
/* --------------------------- CONTENT ------------------------------- */

/* --------------------------- FOOTER ------------------------------- */
#footer {
	width: 100%;
	padding: 20px;
	margin-top: auto;
}

.social-list li {
	display: inline-block;
}
.social-list li + li {margin-left: 5px;}
.social-list a {
	color: #888;
	text-decoration: none;
	display: inline-block;
	width: 25px;
	height: 25px;
}
.social-list a.vk {
	background: url(../img/ic-vk.png) no-repeat center;
	background-size: 25px;
}
.social-list a.fb {
	background: url(../img/ic-fb.png) no-repeat center;
	background-size: 25px;
}
.social-list a.yout {
	background: url(../img/ic-yout.png) no-repeat center;
	background-size: 25px;
}
.social-list a.git {
	background: url(../img/ic-git.png) no-repeat center;
	background-size: 25px;
}
/* --------------------------- // FOOTER ------------------------------- */

/* --------------------------- ANIMATION ------------------------------- */
@keyframes trans-logo {
	0% {
		opacity: 0;
		text-shadow: 0 0 50px rgba(255,255,255,.9);
	}
	100% {
		opacity: 1;
		text-shadow: none;
	}
}
/* --------------------------- // ANIMATION ------------------------------- */