* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;

	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.main-wrap {
	background: url(../img/main-bg.jpg) no-repeat center fixed;
	background-size: cover;
}

/* --------------------------- HEADER ------------------------------- */
/* --------------------------- // HEADER ------------------------------- */

/* --------------------------- MAIN CONTENT ------------------------------- */
/* --------------------------- // MAIN CONTENT ------------------------------- */

/* --------------------------- FOOTER ------------------------------- */
/* --------------------------- // FOOTER ------------------------------- */